version: 2
jobs:
  shellcheck:
    docker:
      - image: koalaman/shellcheck-alpine:stable
    steps:
      - run:
          name: Install Git & Bash
          command: apk add git bash curl
      - checkout
      - run:
          name: Check Buildscript
          command: shellcheck -e SC1117 -e SC2086 -e SC2059 build.sh
  buildroot-pluto:
    environment:
      BUILDROOT_VERSION: "2019.02"
    docker:
      - image: circleci/python:3.5.7-stretch
    working_directory: ~/repo
    steps:
      # Checkout Repo
      - checkout
      # Enable Remote Docker
      - setup_remote_docker:
          version: 18.09.3
      - run:
          name: Install Docker client
          command: |
            set -x
            VER="18.09.3"
            curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            sudo mv /tmp/docker/* /usr/bin
            docker info
      - run:
          # Build Buildroot
          name: Build Pluto Buildroot
          command: |
            ./build.sh -k -b pluto --skip-build
            mkdir -p releases/pluto
      - run:
          # after application container finishes, copy artifacts directly from it
          name: Copy Buildroot tarball
          command: |
            docker cp buildroot:/home/ubuntu/releases/buildroot-${BUILDROOT_VERSION}-plutosdr.tar.gz releases/pluto
            docker cp buildroot:/home/ubuntu/releases/buildroot-${BUILDROOT_VERSION}-plutosdr.tar.gz.* releases/pluto
      - persist_to_workspace:
          # Must be an absolute path, or relative path from working_directory. This is a directory on the container which is
          # taken to be the root directory of the workspace.
          root: releases
          # Must be relative path from root
          paths:
            - pluto
      - store_artifacts:
          path: /releases/pluto
  buildroot-redpitaya:
      environment:
        BUILDROOT_VERSION: "2019.02"
      docker:
        - image: circleci/python:3.6.1
      working_directory: ~/repo
      steps:
        # Checkout Repo
        - checkout
        # Enable Remote Docker
        - setup_remote_docker:
            version: 18.09.3
        - run:
            name: Install Docker client
            command: |
              set -x
              VER="18.09.3"
              curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
              tar -xz -C /tmp -f /tmp/docker-$VER.tgz
              sudo mv /tmp/docker/* /usr/bin
        - run:
            # Build Buildroot for redpitaya
            name: Build Redpitaya Buildroot
            command: |
              ./build.sh -k -b redpitaya --skip-build
              mkdir -p releases/redpitaya
        - run:
            # after application container finishes, copy artifacts directly from it
            name: Copy Buildroot tarball
            command: |
              docker cp buildroot:/home/ubuntu/releases/buildroot-${BUILDROOT_VERSION}-redpitaya.tar.gz releases/pluto
              docker cp buildroot:/home/ubuntu/releases/buildroot-${BUILDROOT_VERSION}-redpitaya.tar.gz.* releases/pluto
        - persist_to_workspace:
            # Must be an absolute path, or relative path from working_directory. This is a directory on the container which is
            # taken to be the root directory of the workspace.
            root: releases
            # Must be relative path from root
            paths:
              - redpitaya
        - store_artifacts:
            path: /releases/redpitaya
  publish-github-release:
      docker:
        - image: cibuilds/github:0.10
      steps:
        - attach_workspace:
            at: ./releases
        - run:
            name: "Publish Release on GitHub"
            command: |
              ghr -t ${GITHUB_TOKEN} -u imtek-emp-bot -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${CIRCLE_TAG} ./releases/
workflows:
  version: 2
  main:
    jobs:
      - shellcheck
      - buildroot-pluto:
          requires:
            - shellcheck
      - buildroot-redpitaya:
          requires:
            - shellcheck
      - publish-github-release:
          requires:
            - buildroot-pluto
            - buildroot-redpitaya
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^\d+\.\d+\.\d+$/